* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: 300px;
    overflow-y: scroll;

}
body{
  background-image: url(background.jpg);
  background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

 .Header2 {
    top: 0;
    position:fixed;
        width: 100%;
        height: auto;
        background-position: center;
         background-size: cover;
         background-image: url(background.jpg);

   background-attachment: scroll; 
   z-index: 1000;
   padding: 5px;
}  
      

.nav {
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-right: 50px;
}

.nav li {
    list-style: none;
    margin-top: 30px;
}

.nav li a {
    font-size: larger;
    color: rgb(252, 227, 227);
    text-decoration: none;
    position: relative;

}

.nav li a::after {
    content: '';
    background: linear-gradient(to right, lightblue, lightcoral);
    height: 2px;
    border-radius: 20px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -6px;

}

.nav li a:hover::after {
    width: 100%;
}



.Intro {
    box-sizing: border-box;
   text-align: center;
    margin: 20px 0px 0px 0px;
    border-bottom: hidden;
    color: white;
    text-shadow: 5px 5px 10px black;
    padding: 130px;
    font-size: 20px;

}

.arrow {
    background: linear-gradient(to left white, gray);
    font-size: 60px;
    font-weight: bold;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    animation-name: arrow;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    border: 1px solid black;
    border-style: hidden;
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(50px);

    }

    100% {
        transform: translateY(0px);

    }
}


  
.aboutme {
    padding: 80px 0;
    color: white;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 18px;
    text-align: center; /* Centering the content */

scroll-margin-top: 150px;
}

.aboutme h1 {
    text-transform: uppercase;
    text-shadow: 5px 5px 10px lightblue;
    display: flex;
    justify-content: center;
}

#para {
    text-decoration: none;
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Improve readability */
    margin-top: 20px;
}

.Image {
    padding: 20px;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%; /* Make image circular */
}

.row {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

.rightbox {
    display: flex;
    justify-content: center;
    flex: 1 1 70%;
    color: rgb(236, 235, 235);
    height: 100%;
    flex-direction: column;
    align-items: center; /* Center content */
}

.rightbox p {
    padding: 30px;
    width: 80%;
    box-shadow: 5px 8px 5px lightblue;
    text-align: left;
}
