  .projects-title {
    margin-top: 20px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 10px lightblue;
    padding: 20px 30px;
    font-weight: 200;
    font-size: 45px;  
    box-sizing: border-box;
    scroll-margin-top: 120px;

}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 100%;
    gap: 40px;         
    margin-top: 100px; 
    margin-bottom: 120px;
    scroll-margin-top: 120px;

}

.projects .project-item {
    position: relative;
    height: 180px;    
    width: 260px;     
}

.myimage {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.btn1 {    
        margin-top: 15px;  
    height: 60px;       
    width: 100%;
    color: white;
    font-size: 18px;
    background: linear-gradient(to left, black, gray);
    text-shadow: 5px 5px 10px lightblue;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightblue;
;
    cursor: pointer;
}

.btn1:hover {
    background: linear-gradient(to left, black, gray);
}
